*{
    box-sizing: border-box;
    scroll-behavior:smooth ;
}

body{
    margin: 0;
    font-family: "monserat";
    background-color: #697060;
    color: #101632dd;
    
}

body,div,ul,nav,header,footer,a,li,label{
    margin: 0;
    padding: 0;
}



/* ------------------HEADER SECTION--------------*/
.header{
    background-color: #bac9a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    color: #697060;
    
    

}


.header_nav-item{
    list-style: none;

}

.header_nav-item a{
    font-size: 26px;
    color: inherit;
    text-decoration: none;
    


}
.header_nav-item :is(:hover,:active){
    text-decoration: underline;

}
    .header_nav{
        display: flex;
        z-index: 1;
        width: 100%;
        height: 0;
        justify-content: center;
        border: none;
        border-radius: 0;
        height: auto;
        padding: 20px 0;
        animation:header ;
        animation-timeline: scroll();
        animation-fill-mode: forwards;
        animation-range-end:  200px;
        position: fixed;
        top: 0;
    }
    .header_nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;  
    }
/* ------------------HEADER ENDS------------------*/


/* ------------------PROFILE SECTION----------------*/

main{
    border: none;
}
.profile{
    container-name: profile;
    container-type: inline-size;
    animation: aparecer 2.4s .06s both;
}

.profile__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #697060;
    max-width: 1400px;
    align-items: center;

}
.profile__data-container{
    background-color: #f3ffcf;
    border-radius: 0 0 12px 12px;
    width: 93%;
    justify-content: space-evenly;



}

.profile__img-container{

    text-align: center;
    margin-bottom:-5px;


}



.profile__img{
    max-width: 93%;
    width: 720px;
    border-radius: 12px 12px 0px 0px;
    margin-top: 70px;
    margin-bottom: 0;
    padding-bottom: 0px;
}


h1{
    color: #697060;
    text-align: center;
}

.profile__skills-container h2{
    color: #697060;
    margin-left: 5px;
}
.load-bar{
    border: 2px solid #697060;
    border-radius:8px ;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 100%;
    margin: 4px;
    background-color:#bac9a9 ;
    margin-left: 5px;
}
.profile__skills-name{
    color: #697060;
}

.profile__skill{
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}
.load-bar__bar{
    background-color: #697060;
    border-radius: 4px;
    text-align: center;
    margin-left: 0;
}
.bar--10{
    width: 10%;

}
.bar--80{
    width: 80%;

}
.bar--70{
    width: 70%;
}
.bar--60{
    width: 60%;
}
.profile__texto{
    margin: 5px;
    text-align: left;
}


/* -------------PROFILE QUERIES---------------*/
@container profile (min-width: 720px){
    .profile__wrapper{
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        margin: auto;
        margin-bottom: 65px;
        margin-top: 35px;
    }

    .profile__data{
        max-width: 720px;
        margin-left: 10px;
    }

    h1{
        margin-top: 0;
        font-size: 4rem;
        text-wrap: balance;
    }
    .profile__data-container{
        background-color: #f3ffcf;
        display: flex;
        align-items: center;
        border-radius: 0 25px 25px 0;
        box-shadow: 0 0 9px #0002;
        height: 90vh;
        margin-top: 0px;

    }
    .profile__img{
    height: 90vh;
    object-fit: cover;
    width: 620px;
    margin-top :0;
    max-width: 100%;
    border-radius: 25px 0 0 5px;
    }
    .profile__texto{
        font-size: 1.25rem;
    }
    .profile__subtitulo{
        font-size: 2.5rem;
    }

    .profile__img-container{
        max-height: initial;
        margin:0px;
        border-radius: 25px 0 0 25px;
    }
    .profile__skill:first-child{
        margin-top: 0px;
    }
    .profile__skill{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .profile__subtitulo{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

/* --------------PROFILE ENDS------------------*/



/* --------------PORTAFOLIO -------------------*/

.portafolio__tittle{
    color: #bac9a9;
    
}
.portafolio{
    background-color: #697060;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portafolio;
    container-type: inline-size;
    justify-content: space-evenly;


}   
.portafolio__tittle{
    font-size: 2.5rem; 
    margin-bottom: 20px;
    margin-top: 20px;
}


.jose{
    display: grid;
    max-width: 1300px;
    width: 100%;
    min-height: 150px;
    background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    transparent 40%);
    background-color: #bac9a9;
    border-radius: 12px 12px 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.portafolio__project{
    justify-content: center;
    border-radius: 12px;
    justify-items: center; /* horizontal */
    align-items: center;   /* vertical */
    background-color: #f3ffcf;
    transition: transform 0.3s ease;
    animation: aparecer  both;
    animation-timeline: view();
    animation-range: cover 5% cover 48%;
}
.portafolio__project:hover{
    transform: scale(1.05);
}
.portafolio__project-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr)) ;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px   ;
    padding: 12px;
    min-height: 200px;
    margin-bottom: 65px;

    

}
.portafolio__project-name{
    margin: 0;
    padding: 0;
    color: #697060;
}
.portafolio__project-p{
    color: #697060;
    text-align: justify;
    margin: 16px;
    font-size: 1rem;
}






/* -----------PORTAFOLIO QUERIES-----------*/
@container portafolio (min-width: 400px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
        grid-template-rows:minmax(250,1fr);
    }
}
@container portafolio (min-width: 300px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
        grid-template-rows:minmax(250,1fr);
    }
}
@container portafolio (min-width: 500px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
        grid-template-rows:minmax(250,1fr);
    }
}
@container portafolio (min-width: 600px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
        grid-template-rows:minmax(250,1fr);
    }
}


@container portafolio (min-width: 1060px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
        grid-template-rows:minmax(250,1fr);
    }
    
}
@container portafolio (min-width: 1100px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(270px,1fr));
        gap: 30px;
        width: 90%;
    }
}
@container portafolio (min-width: 1300px){
    .portafolio__project-container{
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
        gap: 30px;
        width: 90%;

    }
    .portafolio__project{
        transition: transform 0.3s ease;
    }
    .portafolio__project:hover{
        transform: scale(1.05);
        box-shadow: 0px 10px 20px #0005;
    }
}


/* -------------PORTAFOLIO ENDS-------------*/

/* -------------CONTACT SECTION------------*/
.form{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container-name: form;
    container-type:inline-size;
    margin-right: 7px;
}
.form__form{
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
    margin-bottom: 50px;
      animation: aparecer  both;
    animation-timeline: view();
    animation-range: cover 10% contain 40%;
}

.form__input-container :is(input,textarea){
    width: 100%;
    padding: 9px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow:2px 2px 4px #0003;
    background-color: #fffd;
}

.form__input-container textarea{
    resize: none;
    min-height: 120px;
    font-family: inherit;
}
.form__input-container input[type="submit"]{
    padding: 12px;
    background-color: #bac9a9;
    color: #fff;
    transition: transform 0.3s ease;
}   
.form__input-container input[type="submit"]:hover{
transform: scale(1.02);
}

.form__tittle{
    margin-top: 15px;
    font-size: 2.4rem;
}
label{
    margin-left: 5px;
    color:#f3ffcf ;
}

/* -------------CONTACT QUERIES------------*/
@container form (min-width: 600px ){
    .form__form{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-image: linear-gradient(#18233f44,#18233f11);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 40px #0004;
    }

    .form__input-container:first-child{
        grid-area: name;
    }
    .form__input-container:nth-child(2){
        grid-area: lastname;
    }
    .form__input-container:nth-child(3){
        grid-area: email;
    }
    .form__input-container:nth-child(4){
        grid-area: message;
    }
    .form__input-container:nth-child(5){
        grid-area: button;
    }
    .form__input-container :is(input,textarea){
        box-shadow:none;
        border-radius: 4px;
    }
}

/* -------------CONTACT ENDS------------*/

/* ------------- FOTEER SECTION------------*/


footer{
    padding: 12px;
    text-align: center;
    color: #697060;
    font-size:22px;
    background-color: #bac9a9;

}

/*----- ANIMACIONES ----*/


@keyframes header{
    from{
        padding: 20px 0 ;
        background-color: #bac9a9;
    }
    to{
        padding:0px 0 ;
        background-color: #0006;
        color: #bac9a9;
    }
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }  
}